.container {
    font-family: Rubik, Arial, sans-serif;
    display: flex;
    padding: 12px;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #141c20;
    letter-spacing: .6px;
    line-height: 1.2;

    .usersBox {
        width: 300px;
        margin-right: 12px;
        background-color: #1e2428;
        display: flex;
        flex-direction: column;

        .title {
            color: #e1e2e3;
            padding: 12px;
            font-size: 16px;
            background-color: #2a2f32;
        }

        .users {
            overflow-y: scroll;
            flex-grow: 1;
            padding-bottom: 16px;
            overflow-wrap: anywhere;

            .userName {
                font-size: 14px;
                padding: 16px 16px 0 16px;
                color: #f1f1f2;
            }
        }
    }

    .messagesBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #1e2428;

        .title {
            color: #e1e2e3;
            padding: 12px;
            font-size: 16px;
            background-color: #2a2f32;
        }

        .messages {
            overflow-y: scroll;
            flex-grow: 1;
            background-color: #0c1419;
            padding-bottom: 12px;
            overflow-wrap: anywhere;
            font-size: 14px;

            .ownMessage {
                padding: 12px 12px 0 12px;
                text-align: right;

                .bubble {
                    color: #f1f1f2;
                    background-color: #056162;
                    border-radius: 8px;
                    padding: 8px 12px;
                    display: inline-block;
                    max-width: 50%;
                    text-align: left;
                }
            }

            .userMessage {
                padding: 12px 12px 0 12px;

                .bubble {
                    color: #f1f1f2;
                    background-color: #262d31;
                    border-radius: 8px;
                    padding: 8px 12px;
                    display: inline-block;
                    max-width: 50%;

                    .userName {
                        font-weight: 600;
                        padding-bottom: 4px;
                    }
                }
            }

            .serverMessage {
                padding: 14px 12px 0 12px;
                font-style: italic;
                color: #787c7faa;
                text-align: center;
            }
        }

        .messageInput {
            display: flex;
            padding: 12px;

            input[type=text], select {
                width: 100%;
                padding: 12px;
                font-size: 14px;
                display: inline-block;
                box-sizing: border-box;
                outline: 0;
                margin-right: 12px;
                background-color: #33383b;
                border: 1px solid #33383b;
                border-radius: 20px;
                color: #f1f1f2;
            }

            button {
                display: inline-block;
                border: none;
                padding: 12px 18px;
                text-decoration: none;
                background: #00af9b;
                color: #ffffff;
                border-radius: 20px;
                font-size: 14px;
                cursor: pointer;
                text-align: center;
                transition: background 250ms ease-in-out, transform 150ms ease;

                &:hover,
                &:focus {
                    background: #009080;
                }

                &:active {
                    transform: scale(0.99);
                }
            }
        }

        .areWriting {
            padding: 12px 12px 0 12px;
            font-style: italic;
            color: #787c7faa;
        }
    }
}
