.container {
    font-family: sans-serif;
    display: flex;
    padding: 12px;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    .usersBox {
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-right: 12px;

        .title {
            padding: 12px;
            font-weight: bold;
            background-color: #eee;
        }

        .user {
            font-style: italic;
            padding: 12px 12px 0 12px;
        }
    }

    .messagesBox {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
        display: flex;
        flex-direction: column;

        .title {
            padding: 12px;
            font-weight: bold;
            background-color: #eee;
        }

        .messages {
            overflow-y: scroll;
            flex-grow: 1;

            .message {
                padding: 12px 12px 0 12px;
            }
        }

        .messageInput {
            display: flex;
            padding: 12px;

            input[type=text], select {
                width: 100%;
                padding: 12px;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-right: 12px;
            }

            button {
                display: inline-block;
                border: none;
                padding: 12px 18px;
                text-decoration: none;
                background: #0069ed;
                color: #ffffff;
                border-radius: 4px;
                font-size: 12px;
                line-height: 1;
                cursor: pointer;
                text-align: center;
                transition: background 250ms ease-in-out, transform 150ms ease;

                &:hover,
                &:focus {
                    background: #0053ba;
                }

                &:focus {
                    outline: 1px solid #fff;
                    outline-offset: -4px;
                }

                &:active {
                    transform: scale(0.99);
                }
            }
        }
    }
}
