.container {
    display: flex;
    padding: 12px;
    background-color: #1e2428;

    input[type=text], select {
        width: 100%;
        padding: 12px;
        font-size: 14px;
        display: inline-block;
        box-sizing: border-box;
        outline: 0;
        margin-right: 12px;
        background-color: #33383b;
        border: 1px solid #33383b;
        border-radius: 20px;
        color: #f1f1f2;
    }

    button {
        display: inline-block;
        border: none;
        padding: 12px 18px;
        text-decoration: none;
        background: #00af9b;
        color: #ffffff;
        border-radius: 20px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, transform 150ms ease;

        &:hover,
        &:focus {
            background: #009080;
        }

        &:active {
            transform: scale(0.99);
        }
    }
}
