.container {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
        height: 600px;
    }

    .title {
        color: #e1e2e3;
        padding: 12px;
        font-size: 16px;
        background-color: #2a2f32;
    }

    .messages {
        overflow-y: scroll;
        flex-grow: 1;
        background-color: #0c1419;
        overflow-wrap: anywhere;
        font-size: 14px;

        .ownMessage {
            padding: 12px 12px 0 12px;
            text-align: right;

            .bubble {
                color: #f1f1f2;
                background-color: #056162;
                border-radius: 8px;
                padding: 8px 12px;
                display: inline-block;
                max-width: 50%;
                text-align: left;
            }
        }

        .userMessage {
            padding: 12px 12px 0 12px;

            .bubble {
                color: #f1f1f2;
                background-color: #262d31;
                border-radius: 8px;
                padding: 8px 12px;
                display: inline-block;
                max-width: 50%;

                .userName {
                    font-weight: 600;
                    padding-bottom: 4px;
                }
            }
        }

        .serverMessage {
            padding: 14px 12px 0 12px;
            font-style: italic;
            color: #787c7faa;
            text-align: center;
        }
    }

    .usersTyping {
        height: 16px;
        padding: 12px 6px 6px 12px;
        font-style: italic;
        color: #787c7faa;
    }

    .newMessages {
        position: relative;
        display: flex;
        justify-content: center;

        button {
            position: absolute;
            bottom: 0;
            margin-bottom: 12px;
            display: inline-block;
            border: none;
            padding: 6px 12px;
            text-decoration: none;
            background: #00af9b;
            color: #ffffff;
            border-radius: 20px;
            font-size: 12px;
            cursor: pointer;
            text-align: center;
            transition: background 250ms ease-in-out, transform 150ms ease;

            &:hover,
            &:focus {
                background: #009080;
            }

            &:active {
                transform: scale(0.99);
            }
        }
    }
}
